@{
    ViewData["Title"] = "Home Page";
}
<html>

<head>

    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Style Body</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121184686-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-121184686-1');
    </script>

    <style type="text/css">


        button {
            font-family: Tahoma, Serif, Arial, Helvetica, sans-serif;
            background-color: #EEB4B4;
            border: none;
            border: 2px solid #CD9B9B;
            border-radius: 4px;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            color: white;
            padding: 10px 20px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.7;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }

            button:hover {
                opacity: 1;
            }
    </style>
</head>



<body>
    <header>
        <br>
        <ul id="button1">
            <center>
                <button>
                    <font face="Tahoma, serif" size="6" color=white>
                        <br> *** Vigilância de testes / exames *** <br><br>
                        <img src="~/images/logo.png" alt="Logo Topo" />
                    </font>
                </button>
            </center>
        </ul>

    </header>


    <br />
    <br />

    <main>
    </main>

    <footer></footer>

</body>

</html>